@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    width: 100%;
    position: relative;
    max-height: 520px;
    margin-bottom: 100px;
}

.parallax1{
    position: relative;
    z-index: 1;
}

.parallax2{
    position: relative;
    z-index: 2;
}

.pBanner{
    margin-top: 100px;
    margin-bottom: 110px;
}

.par{
    width: 50px;
    position: relative;
    left: 80px;
    top: 100px;
}