@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    width: 100%;
    position: relative;
    max-height: 520px;
    margin-bottom: 50px;
}

.parallax1{
    position: relative;
    z-index: 1;
}

.parallax2{
    position: relative;
    z-index: 2;
    display: flex;
    right: -80px;
}
@media (max-width: 777px) {
    .parallax2{
        right: 70px
    }
}

.pBanner{
    margin-top: 50px;
    margin-bottom: 0px;
}

.par{
    width: 50px;
    position: relative;
    left: 80px;
    top: 100px;
}

.testclass{
    color: rgb(231, 231, 233);
}